<div class="container">
  <app-search-bar
    (searchTextChanged)="onSearchTextChanged($event)"
  ></app-search-bar>
  <app-user-table
    [users]="filteredUsers"
    [selectedRows]="selectedRows"
    (toggleRowSelection)="toggleRowSelection($event)"
    (toggleSelectAllRows)="toggleSelectAllRows($event)"
    (edit)="editUser($event)"
    (delete)="deleteUser($event)"
  ></app-user-table>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <!-- Button to delete selected rows -->
  <button (click)="deleteSelectedRows()">Delete Selected</button>
</div>
